#tagline{
  margin-top:50px;
  margin-bottom:225px !important;
}

#tagline .text{
  color:white;
  text-align:center;
  padding:50px;
  margin-top:50px;
}

#tagline h1{
  font-size:7em;
  font-weight:600;
}
